## True, False 연산자 정리

In [18]:
# and 연산자의 경우 첫 번째 값이 거짓이면 두 번째 값은 확인하지 않고 결정한다.
# False와 True로만 참, 거짓을 판단하는 경우 and 대신 &을 입력해도 된다.
print(False & True)
print(False and False)
print('Python' & False) # 문자열을 사용하여 참, 거짓을 판단하는 대신 연산자를 문자로 입력하자!

False
False

TypeError: unsupported operand type(s) for &: 'str' and 'bool'

In [22]:
# 반대로 or 연산자의 경우 첫 번째 값이 참이면 두 번째 값은 확인하지 않고 결정한다.
# False와 True로만 참, 거짓을 판단하는 경우 or 대신 |을 입력해도 된다.
print(True | True)
print(True or False)
print('Python' | True) # 문자열을 사용하여 참, 거짓을 판단하는 대신 연산자를 문자로 입력하자!
# 참고로 왼쪽과 오른쪽을 바꾸고 |를 써도 에러가 발생한다!

True
True

TypeError: unsupported operand type(s) for |: 'str' and 'bool'

In [16]:
print('Python' and True) #and 연산자의 취급 방식 때문에 왼쪽 피연산자인 'Python'인 문자열로는 결과가 결정되지 않았다.
print(True and 'Python') #and 연산자의 취급 방식 때문에 왼쪽 피연산자인 True로 결과가 결정되지 않으며 'Python'이 평가되어 결과값으로 반환되었다.
print('Python' and False) #and 연산자의 취급 방식 때문에 왼쪽 피연산자인 'Python'인 문자열로는 결과가 결정되지 않았으나 False가 평가되어 False가 반환되었다.
print(False and 'Python') #and 연산자의 경우 첫 번째 값이 False이면 두 번째 값은 확인하지 않고 결정한다.

True
Python
False
False

In [5]:
print(True or 'Python') #or 연산자의 경우 첫 번째 값이 True이면 두 번째 값은 확인하지 않고 결정한다.
print('Python' or True) #이 줄과 위의 and의 두 번째 줄을 통해 'Python'은 문자열 그대로 반환은 되지만, True로 취급을 받는다는 것을 알 수 있다.
print('Python' or False) #그러기에 이 줄도 바로 'Python'이 출력되었다.
print(False or 'Python')

True
Python
Python
Python

### 문자열 사용하기

In [8]:
asdf
#동적 타이핑이 이루어지지 않았다.
#위의 asdf는 할당된 값도 따로 없다. 즉, asdf는 정의되지 않았기에 아래와 같은 오류가 발생하였다.

NameError: name 'asdf' is not defined

In [9]:
'asdf'
#asdf가 문자(열)로 정의되어서 출력이 되었다.

'asdf'

In [10]:
1
#1과 같은 숫자는 정수이므로 int형으로 정의가 되어있다.

1

In [11]:
'1'
#1을 '문자열'로 출력한 것이다. 명심하자.

'1'

In [12]:
a = '안녕하세요?'
# '안녕하세요?'는 문자열이므로 a는 문자열 변수로 선언되었다.

In [13]:
a

'안녕하세요?'

In [10]:
# 만약 작은따옴표(')을 이용한 문장을 저장하고 싶다면 어떻게 해야할까?
"Big Data Analyst's favorite Cording Program is Python and R"
# 위와 같이 큰따옴표("")로 둘러싸면 큰따옴표("")안에 들어 있는 작은따옴표(')는 문자열을 나타내기 위한 기호로 인식되지 않는다.

"Big Data Analyst's favorite Cording Program is Python and R"

In [11]:
# 그렇다면 큰따옴표("")을 이용한 문장을 저장하고 싶다면 어떻게 해야할까?
'"Big Data Analyst\'s favorite Cording Program is Python and R" the manager says.'
# 위와 같이 작은따옴표(')로 둘러싸면 큰따옴표(")는 문자열을 나타내기 위한 기호로 인식되지 않는다.
# 위에서 작은 따옴표(') 앞에 백슬래시(\)를 사용하였는데 이 경우에도 작은 따옴표가(')
# 문자열을 나타내기 위한 기호로 인식되지 않고, 문자 그 자체를 뜻하게 된다.

'"Big Data Analyst\'s favorite Cording Program is Python and R" the manager says.'

In [9]:
"""'python isn't
difficult'"""
# 가독성을 높이기 위해 ''' ''' """ """ 세 개를 사용해도 된다!

"'python isn't\ndifficult'"

### 리스트란?
- 여러 개의 값을 담을 수 있는 데이터 구조
- 대괄호([])를 사용하여 표현하며, 쉼표(,)로 구분하여 원소를 입력

In [23]:
a = [1, 2, 3, 4, 5] # 정수형 리스트
a

[1, 2, 3, 4, 5]

In [24]:
a = ['python', 'R', "let's go"] # 문자열 리스트
a

['python', 'R', "let's go"]

In [25]:
a = ['jun', 15, 1, 5, True] # 혼합 리스트
a # 리스트는 원소의 자료형이 서로 달라도 된다.

['jun', 15, 1, 5, True]

In [26]:
a = []
n = input("값을 입력하세요(문자로 출력됩니다.) : ")
a.append(n)
a # 빈 리스트는 지난 주에 배운 input을 사용하여 활용할 수 있다. # int(input)으로 바꿔서도 사용해보면 좋다.

['python 좋아요']

In [23]:
b = list()
b # 이를 이용해서 빈 리스트를 생성할 수도 있다.

[]

### 리스트와 함께 사용하는 함수 range
- range 범위를 뜻함
- 내가 원하는 숫자 범위만큼을 나타낼 수 있는데 쉽게 나타낼 수 있다.

In [ ]:
a = [1, 2, 3, 4, 5]
# a 1부터 100까지 넣어야 하면
#a = [1, 2, 3, 4, 5, 6, 7,...]

In [27]:
range(10)

range(0, 10)

- 리스트 주머니 넣어보기!
- 리스트 변수 = list(range(횟수))

In [26]:
a = list(range(10))
a # 컴퓨터는 왜인지 모르지만 0부터 숫자를 세겠다고 주장한다.(아마 이진법에서 시작했을려나?) 말리지말고 받아들이자.
# 0~9까지 10개의 숫자를 출력한다.

In [32]:
# 만약 -를 넣으면?
a = list(range(-10))
a

[]

In [33]:
# 만약 0을 넣으면?
a = list(range(0))
a

[]

In [38]:
for i in range(5):
    print(i)
# i가 5번 사이클을 돌린다. i를 출력하고 횟수를 누적한다.
# 다시 말하지만 0부터 숫자를 세겠다고 주장한다.

0
1
2
3
4

- range도 조절을 할 수 있다.
- range(10)
- range(시작, 끝)
- range(시작, 끝, 증가폭)

In [34]:
list(range(1, 15)) # 증가폭을 따로 지정하지 않으면 디폴트 값은 1이다.
# range(시작, 끝)의 경우 시작의 숫자부터 시작한다. (보시다시피 0부터 시작이 아니다.)
# 단 range(값)과 마찬가지로 값 - 1까지만 출력한다.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [31]:
list(range(4, 21, 2)) # 등차수열이라고 생각하면 편할 것이다.

[4, 6, 8, 10, 12, 14, 16, 18, 20]

In [32]:
list(range(-4, 10, 2)) # 10이 출력되지 않은 이유는 증가폭이 없어도 9까지만 출력할 list였기 때문이다.

[-4, -2, 0, 2, 4, 6, 8]

In [33]:
# 왜 꼭 증가만해 감소는?
list(range(-4, 10, -1))

[]

In [37]:
# 감소를 하기 위해서는
# 큰 값에서 작은 값으로 범위를 바꿔줘야 한다.
# 이 경우에는 값 + 1까지만 출력한다.
list(range(10, -4, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3]

### 튜플
- 리스트와 동일하다.
- 주머니의 형태
- 튜플의 가장 큰 특징!!
- 값을, 변경, 추가, 삭제할 수 없다.
- 읽기 전용만 가능하다.

- 튜플변수 = (값, 값, 값) 소괄호로 사용
- 튜플변수 = 값, 값, 값
- 리스트는 대괄호, 튜플은 소괄호이다. 기억하자

In [36]:
a = 1, 2, 3

In [37]:
a

(1, 2, 3)

In [38]:
a = (1, 2, 3, 4, 5)

In [39]:
a

(1, 2, 3, 4, 5)

In [40]:
a = ('jun', 1.4, 1, True)

In [41]:
a

('jun', 1.4, 1, True)

### 튜플을 가지고 range 동일하게 사용 가능

- 튜플변수 = tuple(range(횟수))

In [43]:
a = tuple(range(10))

In [44]:
a # 또 다시 말하지만, 컴퓨터 친구의 마음은 꺾이지 않는다. 0부터 시작한 다는 것을 유의하자!

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [45]:
b = list(range(10))

In [46]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 필수과제 1
- 위에 배운 range 함수 기능을 튜플에도 동일하게 적용해 보세요!
- range(), range(시작, 끝), range(시작, 끝, 증가폭) 증가, 감소 모두 다

### 튜플을 리스트로 만들고 리스트를 튜플로 만들 수 있다.

In [47]:
a = 1, 2, 3, 4, 5

In [49]:
list(a)

[1, 2, 3, 4, 5]

In [50]:
c = list(a)

In [51]:
c

[1, 2, 3, 4, 5]

In [52]:
tuple(c)

(1, 2, 3, 4, 5)

In [43]:
num1 = 7
str(num1) #우리가 int 자료형을 float이나 str형으로 바꾸는 것과 비슷한 원리라고 생각하면 된다.

'7'

# 시퀀스 자료형
- 연속된 자료형
- 나열된 개념
- 리스트, 튜플, range, 문자열 보면 공통점은 시퀀스, 연속된 자료형이다.

In [45]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [47]:
b = (1, 2, 3, 4, 5)

In [48]:
c = 'Python'

In [49]:
d = list(range(10))

In [50]:
e = 1

In [52]:
print(a)
display(a)
# print() 함수는 콘솔에 출력하고, display() 함수는 노트북 셀에 출력한다고 한다.
display(b)
display(c)
display(d)
display(e)

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

(1, 2, 3, 4, 5)

'Python'

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

1

### 시퀀스 자료형 특징
- 값 in 시퀀스객체
- 참 거짓으로 판단해준다.

In [64]:
4 in a # 시퀀스 객체에서 사용한다.

True

In [65]:
4 not in a

False

In [66]:
3 in range(10)

True

In [67]:
'z' in 'Python'

False

### 시퀀스 객체 특징
- 시퀀스 객체 연결

In [69]:
a = [1, 2, 3, 4]

In [70]:
b = [1, 2, 3, 4]

In [71]:
a + b #시퀀스 객체 + 시퀀스 객체

[1, 2, 3, 4, 1, 2, 3, 4]

In [72]:
a * 4 #4, 8, 12, 16 # 시퀀스 객체의 반복
# 시퀀스 객체 덩어리로 생각하고 그 a 시퀀스 객체가 4번 반복

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [73]:
'Hello,' + 'Python!'

'Hello,Python!'

In [74]:
list(range(0, 10)) + list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 시퀀스 객체의 요소 개수 구하기

- len(시퀀스객체) 전체 개수를 몇 개인지 알려준다!

In [77]:
len(list(range(0, 1000, 31)))
# range(시작, 끝, 증가폭) 잊지말자

33

In [53]:
len(list(range(1000, 0, -31)))
# 감소시키는 등차수열로도 만들 수 있다.

33

In [78]:
len('Python') #시퀀스 객체 #문자의 개수

6

In [79]:
len('Hello,' + 'Python!')

13

In [80]:
c = 'Hello,' + 'Python!'

In [81]:
len(c)

13

## 인덱스!

- 시퀀스객체[인덱스]
- 컴퓨터가 순서를 외우기 위해 본인이 자동적으로 순서를 지정한 것이 인덱스

In [92]:
a = ['a', 'b', 'c', 'd', 'e']
b = [10, 20, 30]

In [93]:
b[0] #중요한 것은 꺽이지 않는 0으로 시작 #컴퓨터

10

In [94]:
b[1]

20

In [95]:
c

'Hello,Python!'

In [96]:
c[4]

'o'

In [83]:
a

['a', 'b', 'c', 'd', 'e']

In [84]:
a[0]

'a'

In [85]:
a[1]

'b'

In [86]:
a[2]

'c'

In [87]:
a[3]

'd'

In [88]:
a[4]

'e'

In [89]:
a[5]

IndexError: list index out of range

- 인덱스부터 다음 시간