## 변수와 변수 입력이란?

- 할당(대입)
- x = 10 ('='은 할당(대입) 연산자이다.)
- x라는 변수에 10이라는 값이 할당(대입) 된다
- x <- 10

In [1]:
x = 10
#x에 10을 할당(대입)한다.

In [2]:
x
#x를 출력하면 할당(대입)한 값인 10이 출력된다.

10

In [3]:
y
#python에서는 변수를 선언할 때 타입을 명시하지 않는다. x = 10과 같이 값에 따라 자동으로 타입이 결정된다. (이를 동적 타이핑(Dynamic Typing)이라 한다.)
#10은 정수이므로 자동으로 x는 정수형 변수로 선언 되었다.
#그러나, 위의 y는 할당된 값도 따로 없다. 즉, y는 정의되지 않았기에 아래와 같은 오류가 발생하였다.

NameError: name 'y' is not defined

In [ ]:
'y'
#y가 문자(열)로 정의되어서 출력이 되었다.

'y'

In [ ]:
type(x)
#데이터 형태를 보는 법
#x에는 정수인 10이 할당(대입)되었다. 따라서 정수형 자료형인 int가 출력되었다.

int

- 변수는 다양한 값을 넣을 수 있다.

In [7]:
x, y, z = 100, 200, 300
#10이 대입되어 있던 x에 새로운 값 100을 할당(대입)한다.
#x의 경우 변수의 레이블은 유지되며, 10이라는 값만 메모리에서 제거되며 100이라는 값이 있는 메모리 위치에 레이블을 붙인다.
#y에 200을 할당(대입)한다. (정수인 200을 넣었으므로 변수의 타입은 int이다.)
#y의 경우 변수의 레이블도 바뀌며, 이전에 할당(대입)된 문자열 자료형은 가비지 컬렉터(Garbage Collector)에 의해 수거되고 메모리에서 해제됩니다.
#z에 300을 할당(대입)한다. (z의 경우 정수인 300을 넣었으므로 변수의 타입은 int이다.)

In [8]:
print(x) #x의 값을 출력한다. 
print(y) #y의 값을 출력한다. 
print(z) #z의 값을 출력한다.

100
200
300

In [9]:
x=10
#100이 대입되어 있던 x에 새로운 값 10을 할당(대입)한다.
#x의 경우 변수의 레이블은 유지되며, 100이라는 값만 메모리에서 제거되며 10이라는 값이 있는 메모리 위치에 레이블을 붙인다.

In [12]:
x=y=z=10
#z의 값에 10을 할당(대입)하며, z의 할당된 값을 y에 할당(대입)하며, y의 할당된 값을 x에 할당(대입)한다.
#z의 경우 변수의 레이블은 유지되며, 300이라는 값만 메모리에서 제거되며 10이라는 값이 있는 메모리 위치에 레이블을 붙인다. (이후 y,x의 레이블도 유지된다.)
#이것을 통해 알 수 있는 것은 오른쪽부터 왼쪽으로 할당(대입)이 이루어진다는 것을 알 수 있다.

In [13]:
print(x) #x의 값을 출력한다.
print(y) #y의 값을 출력한다.
print(z) #z의 값을 출력한다.

10
10
10

In [ ]:
x, y, z = 100, 200, 300

In [ ]:
x, z, y = x, y, z
#z에 y의 값을 할당(대입)한다. 즉, 300이라는 값이 메모리에서 제거되고 200이라는 값이 있는 메모리 위치에 레이블을 붙인다.
#y도 z와 똑같은 원리이다.

In [ ]:
print(x) #x의 값을 출력한다.
print(y) #y의 값을 출력한다.
print(z) #z의 값을 출력한다.

100
300
200

## 변수를 가지고 계산할 수 있다

In [14]:
a = 10 #a에 10을 할당(대입)한다.
b = 20 #b에 20을 할당(대입)한다.

In [ ]:
c = a+b #a와 b의 각각 할당(대입)된 값을 먼저 더하고 구한다. 그리고 구한 값을 c에 할당(대입)한다.

In [ ]:
10+20

30

In [ ]:
c
#c를 출력하면 할당(대입)한 값인 30이 출력된다.

30

In [ ]:
a+20
#a의 할당된 값에 20을 더한 값을 출력한다.

30

In [18]:
a+int(30.5)
#이런 식으로 응용할 수도 있다.

40

In [21]:
'a'+'b'

'ab'

In [20]:
a+'b'
#물론 int, float형과 str형의 연산은 이루어지지 않는다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- 산출 연산 후 할당 연산자
- a = a+20과 같이 a에 20을 더한 값을 다시 a에 할당해주면 계산 결과가 계속 유지가 된다.

In [ ]:
a = 10

In [ ]:
a = a+20
#10+20
#위에서도 말했지만 할당(대입)연산자를 사용할 경우 오른쪽부터 수행한다.

In [ ]:
a = a+20

In [ ]:
a = a+20

In [ ]:
a += 20
#귀찮아서 a를 하도 많이 쓰니깐 이렇게 표현한다
# a += 20 == a = a + 20 이다.

In [ ]:
d #자료형이 설정되지 않았다. 따라서 값도 가지고 있지 않다.

NameError: name 'd' is not defined

In [ ]:
d +=20
#d라는게 선언이 안 되어 있어서 에러가 난다.

NameError: name 'd' is not defined

### 값을 입력받는 경우 해당 값을 변수에 저장할 수 있다.
- 유저에게 값을 요청하면 유저가 작성한 값을 변수에 저장가능하다!

- input()

- input()은 디폴트 값이 문자열이다.

In [35]:
input()
#input의 입력 후 출력 디폴트는 문자열의 형태로 나타낸다.

'100'

In [33]:
a = input()
#input에 입력한 값을 문자열 형태로 변환 후 a라는 변수에 할당(대입)한다.

In [34]:
a

'대학원을 가자'

In [36]:
a = input('첫 번째 수를 입력하세요 : ')
b = input('두 번째 수를 입력하세요 : ')

In [37]:
print(a)
print(b)

5
10

In [38]:
print(a+b)
#자료형이 문자열(str)이기에 510이 출력된다.

510

In [31]:
x = input('Python과 R중 배우고 있는 언어를 입력하세요!')
#윗 줄과 현재 줄을 통해 알 수 있는 것은 사람들이 값을 입력할 때 input의 괄호 안에 선택할 수 있는 조건 등을 제시하여 입력하게끔 유도할 수 있다.

In [32]:
x

'Python'

In [ ]:
x = 10
#x에 10을 할당(대입)함에 따라 x의 레이블도 바뀌게 된다. (str → int)

In [ ]:
x

10

In [39]:
a = int(input('첫 번째 수를 입력하세요 : '))
b = int(input('두 번째 수를 입력하세요 : '))
# 배운 것을 응용하여 새로운 자료형(기존의 자료형)으로 바꾸어 자료형에 맞는 형태로 출력되게 할 수 있다.

In [40]:
print(a+b)

15

- 값을 1개만 받았는데 2개 이상 받는 경우

- split 사용해서 값을 여러 개로 저장한다.

- 변수1, 변수2 = input().split()
- 변수1, 변수2 = input().split('기준문자열')

In [44]:
a, b = input('문자열 두 개 입력! :').split()
#split() 아무것도 없으면 기본 공백에 따라 분리 한다.
#변수의 갯수에 꼭 맞춰서 입력해야 에러가 발생하지 않는다.
#공백에 따라 분리하므로 두 번째 값을 입력하기전, space bar를 눌러주자

In [45]:
print(a)
print(b)

5
10

In [52]:
a, b = input('문자열 두 개 입력하세요 단 /를 사용해서 나눠주세요! :').split("/")
#split() split 함수 안에 내가 나누고 싶은 구분자를 지정할 수 있다.
#역시 구분자를 지정해놓고 다른 구분자를 입력하거나, 구분자를 입력하지 않으면 에러가 발생한다.
#그리고 따옴표('')를 까먹지 말자. 우리가 문자(열)을 입력할 때는 따옴표('') 또는 쌍따옴표("")를 사용해야한다.

In [53]:
print(a)
print(b)

5
10

- map
- map은 내가 원하는 기능과 함께 두 가지를 묶어서 사용할 수 있다.

- 변수1, 변수2 = map(int, input().split())

In [55]:
a, b = map(int, input().split())
#a, b = int(input().split())으로 가능하지 않아요?라고 생각할 수 있다.
#하지만, .split()에서 list가 반환되는데 이것을 변환하려고 하면 에러가 발생한다.
#따라서 map을 이용하여 map(x, y)라 했을 때 x에는 변환할 자료형을, y는 변환할 대상을 입력한다.
#그러면 str로 입력했던 값들이 int로 변환되며 a, b에 각 값들이 할당(대입)된다.

In [56]:
print(a+b)

30

### 출력
- print()
- print()안에도 다양한 인자값이 있다.

In [ ]:
#print() ,를 이용해서 구분자를 넣을 수 있다.

print('안녕?','과제는','필수란다!')
# , 를 이용해서 다양한 값을 넣을 수 있다.
# 문자열을 입력할 때 쌍따옴표와 따옴표를 잊지말자!

안녕? 과제는 필수란다!

- sep로 값 사이에 문자 넣기
- seperator 구분자라는 뜻
- print(값1, 값2, sep='문자 또는 문자열')

In [ ]:
print(1,2,3, sep=',') #콤마를 적으면

1,2,3

In [57]:
print(1,2,3, sep = '  ') #공백 2칸씩

1  2  3

In [ ]:
print(1,2,3, sep='////') #4개의 슬래시

1////2////3

In [63]:
print(1,2,3, sep='번 ') #번 출력
#마지막 값의 뒤에도 콤마(,)를 붙이는 것을 잊지 말자!

1번 2번 3

- 줄바꿈

In [ ]:
print(1,2,3)

1 2 3

In [ ]:
print(1,2,3, sep='\n') # 줄바꿈의 경우는

1
2
3

In [ ]:
print(1)
print(2)
print(3)

1
2
3

- end 사용하기 
- end를 이용하면 빈 문자열 지졍하면 다음번 출력이 바로 뒤에 오게 된다.
- 값이 붙는다.

In [65]:
print(1,end='번 ')
print(2,end='번 ')
print(3,end='번 ')

1번 2번 3번

In [66]:
print(1, 2, 3, sep = '번 ', end = '번')
#sep와 end를 같이 사용하여 이렇게 응용할 수 있다.

1번 2번 3번

### 불린값
- 참 거짓 (True False)

In [70]:
x = 10

In [ ]:
x> 5

True

In [ ]:
x<5

False

In [ ]:
x > 9

True

In [ ]:
##숫자가 같은지 틀린지 확인하는 방법
#= , == (equal) !=(not equal)
#다시 한 번 강조하자면 (=)은 python에서는 할당(대입) 연산자로 어떤 값을 어떤 변수에 할당하는 역할을 하는 것이다.
#(==)이 python에서는 우리가 흔히 수학을 공부할 때 사용하는 ~이다의 의미를 가지는 것이다.

10 == 10

True

In [ ]:
10 != 5

True

In [71]:
x == 10

True

In [ ]:
x

10

In [72]:
x != 10

False

In [73]:
x = 9

In [74]:
x !=10

True

In [ ]:
'python' == 'Python'
#python에서 소문자와 대문자는 '컴퓨터'가 이해할 때는 엄연히 다른 문자이다. 잊지 말자!

False

In [ ]:
10 > 4

True

In [ ]:
10 >= 10

True

In [ ]:
#is , is not 비교 할 수 있다.

10 is 10

True

In [75]:
x = 10

In [76]:
x is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\주경\AppData\Local\Temp\ipykernel_11960\2183931627.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  x is 10

True

In [ ]:
1 == 1.0 # 참

True

In [ ]:
1 is 1.0
# 거짓
# 몫(정수)만 나타낸 1은 int형이며, 정수와 실수 부분까지 같이 나타내는 1.0은 float형이다.

False

 == 참이고
 
 is 거짓?
 
 == 는 값 자체를 비교하는 것이고
 is 자료형 객체를 비교하는 것이다.

In [ ]:
int is float

False

In [ ]:
1 == 1.0
# (==)은 python에서 컴퓨터가 값 자체만 보고 비교를 하낟.

True

- 띄어쓰기 궁금하신 경우는 직접 코드를 작성하면서 띄어쓰기 바꿔보며 코드를 이해해 주시면 좋다!

In [ ]:
1==1.0

True

In [ ]:
1 == 1.0

True

In [ ]:
1 = = 1.0
#설마 이런 실수를 할지 모르지만, 숙지는 해놓자!

SyntaxError: invalid syntax (<ipython-input-124-cfb2fdb7311d>, line 1)

In [77]:
1 is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\주경\AppData\Local\Temp\ipykernel_11960\513026932.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1 # 거짓

True

In [ ]:
int is str

False

In [ ]:
1 is '1'

False

In [ ]:
1 + 1

2

In [ ]:
'1'+'1'

'11'

### 논리 연산자 

- < > , >= 등 비교연산자 외에
- 논리연산자가 있다.
- and , or , not

- and
- a and b 

- 불린값을 이용해서 논리 연산자의 로직을 점검해 보자!

In [ ]:
True , False

(True, False)

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False and True

False

In [ ]:
False and False

False

- and 조건의 특징은 모두 다 참이어야지만 참이 나온다!

- or 조건

In [ ]:
True or True

True

In [ ]:
True or False

True

In [ ]:
False or True

True

In [ ]:
False or False

False

- or는 둘 중 하나라도 참이면 참이 나온다!

not : 부정의 개념

In [ ]:
not True

False

In [ ]:
not False

True

- 논리 연산자의 순서는 and or not 식이 있으면 not and or 순으로 해석하면 된다.

In [ ]:
not True and False and True or not True and False

False

In [ ]:
False and False and True or False and False

False

In [ ]:
False and True or False

False

In [ ]:
False or False

False

In [ ]:
False

False

In [ ]:
((not True) and False) or (not False)
#괄호 우선순위 개념 
#((not True) and False) == False and False == False
#그리고 not False == True 이다.
#즉, False or True가 나오는데 or(또는) 이므로 True가 출력된다.

True

- 논리연산자를 확장하면 이런 식으로 표현이 가능하다.

In [ ]:
10 == 10 and 10 != 5

True

In [ ]:
not 100 >= 100
# 99 <= 인 경우 false이다.

False

- 불린 논리연산자 비교에서 -> 더 확장하면 하나의 식을 만들 수 있고

In [ ]:
a = 10

In [ ]:
if a == 10:
    print('10입니다.')

10입니다.

In [78]:
a = 9

In [79]:
if a == 10:
    print('10이라우')
else:
    print('거짓이라우')
#조건문을 쓸 때에는 (:)을 까먹지 말자!

거짓이라우

### 과제는 복습과제만 진행

- 복습과제를 다음 주 수요일이면 제가 화요일에 과제를 카페에 올려주실 분을 지명 그 분은 늦어도 수업시간 전까지 본인의 과제를 네이버 카페에 올려주시고
- 코드만 올리는 게 아니라 다른 사람들이 볼 수 있게 코드와 주석을 캡쳐한 내용을 이미지로라도 올려주세요.

- 나도 과제 올리고 싶다. 자유롭게 올려주셔 되고 ( 올리실 분을 받을 예정 )
- 올 클리어하는 분은 (모든 과제를 항상 올려주셨던 분은 가산점을 드릴 예정)

- 과제 올려주실 분은 더 일찍 말씀드려서 시간 여유롭게 하실 수 있게 미리 말씀드릴게요!

- 노션은 기본이고 추가로 과제를 지정된  분은 네이버카페에 올려야 합니다.