### 문자열 응용 - .replace

In [4]:
# replace
# 문자열을 대체하는 함수
# 문자열 안에서 특정 문자를 새로운 문자로 대체하는 기능을 가지고 있음.
# ex) '현재 문자열'.replace(현재 문자열에서 바꿀 문자, 바꿀 자리에 들어갈 새로운 문자, 변경할 갯수)

replace_function = 'hello python' # hello python이라는 문자열을 n에 할당
replace_function.replace('python', 'kitty') # python이 kitty로 바뀌어 hello kitty를 출력

'hello kitty'

In [5]:
replace_function = 'hello python'
replace_function.replace('o', 'ow', 1)
# 개수를 지정하면 왼쪽부터 지정한 개수만큼 대체하게 된다.

'hellow python'

In [6]:
replace_function = 'hello python'
replace_function.replace('o', 'ow')
# 개수를 지정하지 않으면 해당하는 문자는 다 대체된다.

'hellow pythown'

### 문자열 응용 - .split

In [7]:
# split
# 문자열을 나누어주는 함수
# 문자열 나누어서 리스트로 넣어준다.
# 아래와 같은 형태로 입력함

# 문자열.split()
# 문자열.split('구분자')
# 문자열.split('구분자', 구분 횟수)

In [8]:
# 문자열.split()
# 이 경우 분할요소가 공백으로 기준되어 있으며 횟수를 따로 지정하지 않으면 공백 조건을 만족하면 다 분할함.
split_function = 'ab cd ef g'.split()
print(split_function)

['ab', 'cd', 'ef', 'g']

In [9]:
# 문자열.split('구분자')
split_function = 'one/andtwo or three/andfour or five'.split('/and')
print(split_function)

['one', 'two or three', 'four or five']

In [10]:
# 문자열.split('구분자', 구분 횟수)
split_function = 'I,II,III,IV,V,VI,VII'.split(',', 3)
print(split_function)

['I', 'II', 'III', 'IV,V,VI,VII']

### 문자열 응용 - .join

In [11]:
# join
# 문자열을 연결해주는 함수
# 리스트가 안에 들어가야 한다.

# ''.join(리스트)
# '구분자'.join(리스트)

In [12]:
# ''.join(리스트)
join_function = ''.join(['1', '2', '3', '4'])
print(join_function)

1234

In [13]:
# '구분자'.join(리스트)
join_function = ' and '.join(['one', 'two', 'three', 'four'])
print(join_function)

one and two and three and four

### 문자열 응용 - .upper & .lower

In [14]:
# upper
# 문자열을 대문자로 바꿔주는 함수
# '문자열'.upper()

# lower
# 문자열을 소문자로 바꿔주는 함수
# '문자열'.lower()

upper_function = 'big data analyst'.upper()
print(upper_function)

lower_function = upper_function.lower() #BIG DATA ANALYST
print(lower_function)

BIG DATA ANALYST
big data analyst

### 문자열 응용 - .strip() & .lstrip() & .rstrip()

In [15]:
# strip
# lstrip은 왼쪽 구분자만 제거
# rstrip은 오른쪽 구분자만 제거
# 해당하는 문자의 구분자를 제거하는 함수
# '문자열'.strip

'aaa1234aaa'.strip('a')

'1234'

In [16]:
# '문자열'.lstrip
'bbb1234bbb'.lstrip('b')

'1234bbb'

In [17]:
# '문자열'.rstrip
'ccc1234ccc'.rstrip('c')

'ccc1234'

### import string

In [18]:
import string
# 문자열 조작 작업을 수행할 수 있게 해준다.

In [19]:
string.punctuation
# 일반적으로 사용되는 모든 구두점 기호로 구성된 문자열 상수

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [20]:
'!@#python@#'.strip(string.punctuation)
# 이 경우 양쪽 끝이 구두점 기호로 되어 있기에 'python'만 출력이 된다.

'python'

In [21]:
'1!@#python@#'.strip(string.punctuation)
# 그러나 이 경우 왼쪽 끝이 구두점 기호가 아니기에 1 뒤에 있는 !@#이 제거되지 않고
# '1!@#python'이 출력된다.

'1!@#python'

### 문자열 응용 - 정렬(.center & .ljust & .rjust)

In [22]:
'sort'.center(19)
# 위 코드의 의미는 'sort'문자열을 가운데에 둔 다음
# 'sort'문자열을 포함해서 21 사이즈로 만들고
# 'sort' 문자열을 제외하고 나머지 부분을 공백으로 채워준다.
# 만약 문자열의 글자가 짝수인데 크기가 홀수라면
# 왼쪽부터 칸이 늘어난다.
# 이 경우에는 왼쪽의 공백 8칸 / 'sort' 문자열 4칸 / 오른쪽의 공백 7칸이 된다.

'        sort       '

In [23]:
# 만약 구분자의 크기가 문자열의 크기보다 작다면
# 오류는 발생하지 않고 그냥 'sort'만 출력된다.
'sort'.center(3)

'sort'

In [24]:
'sort'.ljust(10)
# 위 코드의 의미는 'sort'문자열을 왼쪽에 둔 다음
# 'sort'문자열을 포함해서 10 사이즈로 만들고
# 'sort'문자열을 제외하고 나머지 부분을 공백으로 채워준다.

'sort      '

In [25]:
'sort'.rjust(10)
# 위 코드의 의미는 'sort'문자열을 오른쪽에 둔 다음
# 'sort'문자열을 포함해서 10 사이즈로 만들고
# 'sort'문자열을 제외하고 나머지 부분을 공백으로 채워준다.

'      sort'

In [26]:
# python은 .함수().함수().... 이런 식으로 사슬이 이어지는 것처럼
# 확장을 할 수 있다.
'sort'.center(20).upper()

'        SORT        '

In [27]:
'sort'.center(20).upper().lower()
# 위의 코드를 보고 비교하면 알 수 있는 것은 가장 왼쪽부터 함수가 적용된다는 것이다.

'        sort        '

### 문자열 응용 - .find()

In [28]:
# find
# .find('문자')
# -> 특정문자열을 찾아서 인덱스를 반환, 문자열이 없으면 -1을 반환
'BiG dAtA aNaLySt'.find('A') # 다시 말하지만 컴퓨터는 0부터 카운트한다.
# 똑같은 문자가 있다면 .find 함수는 왼쪽부터 확인이 이루어진다는 것을 알 수 있다.

5

### 문자열 응용 - .count

In [29]:
# count
# .count
# 문자열 안의 구분자와 일치하는 개수만큼을 반환해준다.
'kimjookyeong'.count('k')

2

### 문자열 서식 지정자

In [30]:
# 서식 지정자로 문자열 넣기
# %s는 문자열의 서식 지정자이다. (string)
# c언어를 배우고 오신 분은 편하다.

"김주경은 %s다." % '솔로'

'김주경은 솔로다.'

In [31]:
student = '사람'
"대학원생은 %s으로서 살아갈 수 있는가?" % student

'대학원생은 사람으로서 살아갈 수 있는가?'

In [32]:
# 서식 지정자로 숫자(정수형) 넣기
# %d는 정수형 데이터의 서식 지정자이다.
# 마찬가지로 c언어를 배우고 오신 분은 편하다.
'김주경의 학점은 %d점을 넘습니다.' % 4

'김주경의 학점은 4점을 넘습니다.'

In [33]:
# 서식 지정자로 숫자(실수형) 넣기
# %f는 실수형 데이터의 서식 지정자이다.
'파이는 %f...... 뒤는 모르니까 생략할께요.' % 3.141592

'파이는 3.141592...... 뒤는 모르니까 생략할께요.'

In [34]:
# 소수점 자리를 지정할 수 있다.
## '%.자릿수f' % 숫자
'%.2f' % 3.141592

'3.14'

In [35]:
'제 78회 %s %d 번 수험생의 점수는 %.1f 입니다.' %('데이터 시험', 24601, 94.4)

'제 78회 데이터 시험 24601 번 수험생의 점수는 94.4 입니다.'

### format
- 문자열에 특정 변수의 값을 넣을 때 사용한다.

In [36]:
# format 형식
# '{인덱스}'.format(값)
'Hello, {0}'.format('kitty')

'Hello, kitty'

In [37]:
# 여러 개 넣는 경우
"""{0}의 학점은 {1}점 이상이다.
{0}가 대학원을 가기 위해서는 {2}점을 넘겨야 안정적이다.""".format('주경이', 4.0, 4.3)

'주경이의 학점은 4.0점 이상이다.\n주경이가 대학원을 가기 위해서는 4.3점을 넘겨야 안정적이다.'

In [38]:
"""어디야 지금 뭐해 빨리 와 너 올 것 같아 여기서 나 기다리는데
{name}아 오늘따라 니가 보고싶구나 또 보고 싶어서 미안해
- 임재현 {music} 중""".format(name = '시현', music = '조금 취했어')

'어디야 지금 뭐해 빨리 와 너 올 것 같아 여기서 나 기다리는데\n시현아 오늘따라 니가 보고싶구나 또 보고 싶어서 미안해\n- 임재현 조금 취했어 중'

### 딕셔너리 응용하기
- key와 value로 이루어진 시퀀스 객체
- setdefault - 키, 값, 쌍 추가
- update - 키의 값을 수정할 수 있다. 키가 없으면 키-값 쌍 추가한다.

### 딕셔너리 기본

In [39]:
dictionary = {'one':1, 'two':2, 'three':3}
# 여기서 'one', 'two', 'three'가 key이며
# 1, 2, 3이 value이다.
dictionary

{'one': 1, 'two': 2, 'three': 3}

### .setdefalut()
- dictnary의 key, value를 추가해주는 것이다.
- update와 달리 계속 추가되는 것이 특징이다.

In [40]:
dictionary.setdefault('four', 4)
# 'four'라는 key를 새로 추가하고 해당 key에 4라는 value를 추가했다.
print(dictionary)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

### .update()
- 기존 key의 값을 수정하거나
- 새로운 key와 value를 동시에 추가한다.

In [41]:
dictionary.update(five = 5)
# update 이 경우에는 'five'라는 키가 존재하지 않았기에
# 'five'라는 키를 새로 추가하고 5라는 value를 추가했다.
dictionary

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [42]:
dictionary.update(two = 10)
dictionary
# update 이 경우에는 'two'라는 키의 value를 업데이트 했다.
# 참고로 10은 이진수 형태로 나타낸 2이다.

{'one': 1, 'two': 10, 'three': 3, 'four': 4, 'five': 5}

In [43]:
# 딕셔너리의 key, value 삭제
# .pop(key) <- value를 입력하면 오류가 발생한다.
dictionary.pop('five')
dictionary

{'one': 1, 'two': 10, 'three': 3, 'four': 4}

### .get()
    - 딕셔너리의 특정 키의 값을 가지고 온다.

In [44]:
dictionary.get('two')

10

### .items()
- 딕셔너리의 key와 value 쌍을 모두 가지고 오는 함수

In [45]:
dictionary.items()

dict_items([('one', 1), ('two', 10), ('three', 3), ('four', 4)])

### .keys()
- 딕셔너리의 key 부분만을 모두 가지고 오는 함수

In [46]:
dictionary.keys()

dict_keys(['one', 'two', 'three', 'four'])

### .values()
- 딕셔너리의 value 부분만을 모두 가지고 오는 함수

In [47]:
dictionary.values()

dict_values([1, 10, 3, 4])

### 위의 것들을 list의 형태로 출력되게 해보자

In [50]:
dictionary_value = list(dictionary.values())
# 위 코드를 해석하면 dictionary 변수의 value 부분을 가지고 와서
# list의 형태로 정리한 다음
# dictionary_value라는 변수를 선언하고 동시에 할당한다.
print(dictionary_value)

[1, 10, 3, 4]

In [51]:
dictionary_key = list(dictionary.keys())
# 위 코드를 해석하면 dictionary 변수의 key 부분을 가지고 와서
# list의 형태로 정리한 다음
# dictionary_key라는 변수를 선언하고 동시에 할당한다.
print(dictionary_key)

['one', 'two', 'three', 'four']