### 필수과제 1
- 위에 배운 인덱스 응용을 리스트가 아닌 튜플에도 동일하게 적용하기
- 분명 에러가 나는 것이 있다면 왜 에러가 나는지 확인해보기!
- 리스트와 튜플은 두 개가 다른 성질의 주머니라서 문제가 될 수 있으니 확인해 주세요!

In [47]:
a = (1, 2, 3, 4, 5)
# 튜플의 길이는 5이다.
# 여러 번 말하는 것 같지만, 컴퓨터는 순서를 0번째부터 카운트한다.
# 즉 위의 코드는 튜플이라는 주머니?에 0번째부터 4번째까지 각 값을 할당한 것이다.

In [46]:
a(0)
# 객체에 대한 순서를 확인하기 위해서는 대괄호를 사용하자.

TypeError: 'tuple' object is not callable

In [48]:
a[0]
# 다시 말한다. 0번째부터 컴퓨터는 카운트한다.

1

In [49]:
print(a[-1], a[-2])
# 배운 것을 활용해보자 print를 사용하여 -1과 -2를 하면 맨 뒤부터 순서 기준이 잡힌다는 것을 알 수 있다.

5 4

In [50]:
a[5]
# 길이를 초과해서 오류가 발생했다.
# 또 다시 말하지만 컴퓨터는 0번째부터 카운트한다.

IndexError: tuple index out of range

## len 함수를 사용해보자

In [51]:
a

(1, 2, 3, 4, 5)

In [52]:
len(a)
# len은 길이를 세는 것이다.
# 0번째부터 4번째까지 카운트를 하면 5번 된다.
# 헷갈리지 말자!

5

In [53]:
a[len(a)-1]
# 마지막 인덱스는 4라서 len(a) 5니까 -1을 하면 된다.
# len(a) = 5, 즉 a[5-1] = a[4]이다.
# 위의 len(a)는 단순히 길이를 나타내는 5이고
# 이 줄의 a[len(a)-1]은 해당하는 인덱스 번째의 저장되어 있는 값을 출력하는 것이다.
# 괄호를 꼼꼼히 보자!

5

In [54]:
a[len(a)] # a[5]랑 똑같기에 길이를 벗어난 값을 입력한 것이랑 똑같다.

IndexError: tuple index out of range

## 원하는 번째에 값을 할당하여 튜플의 내용물을 바꾸어 보자.

In [55]:
a

(1, 2, 3, 4, 5)

In [56]:
a[3] = 7
# 왜 오류가 나올까?
# 튜플은 리스트와 달리 수정이 불가능한 자료형이다.
# 그렇다면 어떻게 해야할까?

TypeError: 'tuple' object does not support item assignment

In [57]:
# 슬라이스를 활용해보자.
a = a[:3] + (7, )
a
# a[:3]은 a[0]부터 ~ a[2]까지의 값을 출력한다.
# +를 이용하여 슬라이스를 이어 붙인다.
# a[3]에 7이 대입되었다.
# 그런데 a[4]의 값이 사라졌다. 어떻게 해야할까?

(1, 2, 3, 7)

In [58]:
a = a[:4] + (5,)
a
# 이런식으로 다시 붙여주면 된다.

(1, 2, 3, 7, 5)

## 인덱스를 삭제해보자

In [59]:
del a[0]
# 앞서 말했다시피 튜플은 리스트와 달리 수정이 불가능한 자료형이다.
# 그렇다면 어떻게 해야할까? 슬라이스를 활용해보자.

TypeError: 'tuple' object doesn't support item deletion

In [60]:
# a[0]번째의 인덱스를 삭제해보자.
a

(1, 2, 3, 7, 5)

In [61]:
a = a[1:5]
a
# 슬라이스를 사용해서 a[0]번째의 인덱스를 삭제하고 순서가 앞당겨졌다.

(2, 3, 7, 5)

In [66]:
# 새로운 0번째를 추가하고 이번에는 맨 뒤의 인덱스를 삭제해보자.
a = (9, ) + [1:4]
a
# 왜 오류가 발생하는걸까?
# 슬라이스를 사용하면 기존의 튜플을 일부 추출하여 값을 변경할 수 있지만 첫 번째 요소를 변경할 수 없다.

SyntaxError: invalid syntax (4147634587.py, line 2)

In [68]:
# 따라서 새로운 튜플에 대입해야한다.
remaster_a = (9, ) + a[1:3]
remaster_a
# 기존의 a와 달리 remaster_a에서는 0번째에 9가 할당되고 3번째의 값이 삭제 되었다.
# 또또 다시 말하지만 컴퓨터는 0부터 카운트한다.

(9, 3, 7)

## 문자열과 인덱스_증가폭_카운트 기능 테스트

In [69]:
remaster_a = ('김', '주', '경', 8, 4, '필수과제 1')
# 마지막으로 문자열과 인덱스_증가폭_카운트 기능을 테스트해보자.

In [70]:
remaster_a[0:6:1]

('김', '주', '경', 8, 4, '필수과제 1')

In [72]:
remaster_a[0:-1:2]
# 0번째를 기준으로 시작하여 2의 증가폭 번째를 카운트하고 맨 뒤에서 -1번째까지 범위가 지정되었다.

('김', '경', 4)

In [73]:
remaster_a = '대학원에 가고 싶어요'

In [75]:
remaster_a[:6:]
# 대학원에 가라니 너무하다... (갈 생각이지만)
# 보시다시피 공백도 인덱스의 순서에 카운팅이 된다.

'대학원에 가'