- tuple은 list와 달리 수정이 불가능한 자료형이다.
- 슬라이스를 활용하자.

In [6]:
a = tuple(i * 2 for i in range(10))
a

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [7]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [12]:
# 슬라이스를 활용하여 값을 변경
a = a[:7] + (13, )
print(a) # a[:7]을 입력함에 따라 a[0]부터 ~ a[6]까지의 값을 출력
# +를 이용하여 슬라이스를 이어 붙인다.
# a[7]에 13이 대입되었다.
# 사라진 a[8], a[9]의 값을 바꾸어 다시 넣어보자.
a = a[:8] + (14, 15, )
print(a)
# 최종적으로 요소의 개수는 유지하면서 a[7], a[8], a[9]의 값을 변경하였다.

(0, 2, 4, 6, 8, 10, 12, 13)
(0, 2, 4, 6, 8, 10, 12, 13, 14, 15)

In [10]:
b = tuple(i * j for i in range(1, 10) for j in range(2, 4))
b

(2, 3, 4, 6, 6, 9, 8, 12, 10, 15, 12, 18, 14, 21, 16, 24, 18, 27)